body {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h1 {
    color: #333;
}

p {
    font-size: 16px;
    color: #444;
}

input {
    font-size: 16px;
}

.message {
    color: #ff0000;
    font-weight: bold;
}
